# Object files
*.o
*.ko

# Libraries
*.lib
*.a

#build paths

Draft-Projet/omp/fichiers/build
Draft-Projet/omp/fichiers/bin
Draft-Projet/ocl/fichiers/build
Draft-Projet/ocl/fichiers/bin

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
# Emacs tmp files 

*#
*~